<nav class="navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="javascript:void(0)" (click)="goHome()">Gstore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="javascript:void(0)" (click)="goHome()">Home <span
          class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="javascript:void(0)" (click)="goToProducts()">Products</a>
      <a class="nav-item nav-link" href="javascript:void(0)" (click)="goToAddProduct()">Sell Product</a>
    </div>
  </div>
</nav>

